{% load static %}
<header class="header">
    <div class="header__container">

        <div class="header__body">
            <div class="header__burger">
                <span></span>
            </div>
            <div class="header__logo">
                <a href="/"><img src="{% static 'image/Logo.svg' %}" alt="Logo"></a>
            </div>
            <div class="header__profile profile">
                {% if user.is_authenticated %}
                <div class="profile__photo">
                    <img src="{% static 'image/Avatar.svg' %}" alt="profile avatar">
                </div>
                <div class="profile__name">
                    <a href="" class="profile__link">{{user.username}}</a>
                </div>
                <div class="profile__items">
                    <a href="" class="profile__link">Баланс: 0 руб.</a>
                </div>
                <div class="profile__items">
                    <a href="" class="profile__link">Мои покупки</a>
                </div>
                <div class="profile__items">
                    <a href="" class="profile__link">Мои продажи</a>
                </div>
                {% else %}
                <div class="profile__photo">
                    <img src="{% static 'image/logout_image.png' %}" alt="profile avatar">
                </div>
                <div class="profile__items">
                    <a href="{%url 'login'%}" class="profile__link">Войти</a>
                </div>
                <div class="profile__items">
                    <a href="{%url 'registrations'%}" class="profile__link">Регистрация</a>
                </div>
                {% endif %}
            </div>


            <div class="header__menu menu">
                <ul class="menu__list">
                    <li class="menu__item">
                        <div class="menu__icon">
                            <img src="{% static 'image/Menu.svg' %}" alt="menu">
                        </div>
                        <a href="/" class="menu__link">Меню</a>
                    </li>
                    <li class="menu__item">
                        <div class="menu__icon">
                            <img src="{% static 'image/Arrow.svg' %}" alt="menu">
                        </div>
                        <a href="" class="menu__link">Площадки</a>
                    </li>
                    <li class="menu__item">
                        <div class="menu__icon">
                            <img src="{% static 'image/Arrow.svg' %}" alt="menu">
                        </div>
                        <a href="" class="menu__link">Жанры</a>
                    </li>
                    <li class="menu__item">
                        <div class="menu__icon">
                            <img src="{% static 'image/Sell.svg' %}" alt="menu">
                        </div>
                        {% if user.is_authenticated %}
                        <a href="{% url 'add_product' %}" class="menu__link">Продать</a>
                        {% else %}
                        <button id="myBtn" class="menu__link">Продать</button>
                        {%endif%}
                    </li>
                    <li class="menu__item">
                        <div class="menu__icon">
                            <img src="{% static 'image/Balance.svg' %}" alt="menu">
                        </div>
                        <a href="" class="menu__link">Пополнить баланс</a>
                    </li>
                    <li class="menu__item">
                        <div class="menu__icon">
                            <img src="{% static 'image/Support.svg' %}" alt="menu">
                        </div>
                        <a href="https://t.me/ggMarketSupport_bot" target="_blank" class="menu__link">Техподдержка</a>
                    </li>
                    <li class="menu__item">
                        <div class="menu__icon">
                            <img src="{% static 'image/Garantees.svg' %}" alt="menu">
                        </div>
                        <a href="{%static 'docs/Гарантии.docx' %}" class="menu__link">Гарантии</a>
                    </li>
                </ul>
            </div>
            {% if user.is_authenticated %}
            <div class="header__authorization authorization">
                <div class="autrization__icon">
                    <img src="{% static 'image/Logout.svg' %}" alt="menu">
                </div>
                <a href="{% url 'logout' %}" class="authorization__button">Выйти</a>
            </div>
            {% else %}
            {% endif %}
        </div>
    </div>
</header>

<div id="myModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
        <div class="modal__text">
            <p>Извините, у вас нет доступа к данной странице</p>
            <p>Прежде чем что-то продать, нужно авторизироваться</p>
        </div>

        <span class="close">&times;</span>
    </div>


</div>